
AML-Project2/dataset/train_intel-image-classification-csvdata.csv
AML-Project2/dataset/test_intel-image-classification-csvdata-kaggle.csv
AML-Project2/dataset/test_intel-image-classification-submission-example.csv
